.navbar {
    display: flex;
    background-color: rgb(255, 51, 0);
    justify-content: space-between;
    align-items: center;
}
.left img {
   width: 50px;
   height: 30px;
}
.navbar .left {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.left ul {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}
#page-now{
    color: black;
    font-weight: 800;
}
.left li {
    margin-right: 30px;
    padding-right: 10px;
    list-style-type: none;
}
.left li a {
    text-decoration: none;
    color: white;
    text-align: center;
}
.right button.nav {
        margin: 10px;
        border-radius: 5px;
}
button.nav a {
    text-decoration: none;
    color: white;
}
.right {
    width: 12%;
}
button {
    width: 90px;
    height: 25px;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: none;
}
.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-around;
    width: 80%;
    margin: 70px auto;
    box-shadow: rgba(3, 3, 3, .2) -1px -1px 10px ,rgba(3, 3, 3, .2) 10px 10px 10px ;
    padding: 20px 180px;
    box-sizing: border-box;
}
.container .conten{
    width: 70%;
    padding: 50px;
}
.heroImg img {
    border-radius: 10px;
    margin-top: 40px;
    width: 250px;
    height: 400px;
}
