.navbar {
    display: flex;
    background-color: rgb(255, 51, 0);
    justify-content: space-between;
    align-items: center;
}
.left img {
   width: 50px;
   height: 30px;
}
.navbar .left {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.left ul {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}
#page-now{
    color: black;
    font-weight: 800;
}
.left li {
    margin-right: 30px;
    padding-right: 10px;
    list-style-type: none;
}
.left li a {
    text-decoration: none;
    color: white;
    text-align: center;
}
.right button.nav {
        margin: 10px;
        border-radius: 5px;
}
button.nav a {
    text-decoration: none;
    color: white;
}
.right {
    width: 12%;
}
.container {
    width: 60%;
    margin: 70px auto;
    box-shadow: rgba(3, 3, 3, .2) -1px -1px 10px ,rgba(3, 3, 3, .2) 10px 10px 10px ;
    padding: 20px 180px;
    box-sizing: border-box;
}
.icon  {
    display: flex;
    justify-content: center;
    color: black;
    border-radius: 50%;
}
.icon i {
    color: black;
    padding: 20px 10px;
}
.container h2 {
    margin-bottom: -10px;   
}
.container p {
    font-size: 14px;
}
button {
    width: 90px;
    height: 25px;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: none;
}
.card {
    width: 200px;
    margin: auto;
    box-shadow: rgba(3, 3, 3, .2) -1px -1px 10px ,rgba(3, 3, 3, .2) 1px 1px 10px ;
}
.card img {
    display: block;
    margin: auto;
    width: 200px;
}
.card h3 {
    text-align: center;
    margin-bottom: -10px;
}
.card p {
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;
}