* {
    box-sizing: border-box;
}
.container {
    width: 40%;
    margin: 50px auto;
    box-shadow: rgba(3, 3, 3, .2) -1px -1px 10px ,rgba(3, 3, 3, .2) 10px 10px 10px ;
    padding: 50px;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    background-color: rgb(255, 51, 0);
    justify-content: space-between;
    align-items: center;
}
.left img {
   width: 50px;
   height: 30px;
}
.navbar .left {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.left ul {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}
.left li {
    margin-right: 30px;
    padding-right: 10px;
    list-style-type: none;
}
.left li a {
    text-decoration: none;
    color: white;
    text-align: center;
}
.right button.nav {
        margin: 10px;
        border-radius: 5px;
}
.right {
    width: 12%;
}
.icon  {
    display: flex;
    justify-content: flex-start;
    color: black;
    border-radius: 50%;
}
.icon i {
    color: black;
    margin: 15px 15px 0 0;
}
.container h2 {
    margin-bottom: -10px;   
}
.container p {
    font-size: 14px;
}
.container h1 {
    text-align: center;
    margin: 15px;
}
button {
    width: 90px;
    height: 25px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}
form {
    width: 300px;
    margin: auto;
}
input,select,textarea,select {
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    border: none;
    box-shadow: rgba(3, 3, 3, .2) -1px -1px 10px ,rgba(3, 3, 3, .2) 10px 10px 10px ;
}
.form-group {
    margin: 10px 0;
}
textarea {
    resize: vertical;
}
form button {
    float: right;
}


