body {
    background-color: rgb(207, 211, 212);
}
.navbar {
    display: flex;
    background-color: rgb(241, 240, 237);
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
.left img {
   width: 50px;
   height: 30px;
}
.navbar .left {
    display: flex;
    margin: 5px 15px;
    justify-content: center;
    align-items: center;
}
.left ul {
    display: flex;
    justify-content: space-evenly;
}
#page-now{
    color: black;
    font-weight: bold;
}
.left li {
    margin-right: 30px;
    padding-right: 10px;
    list-style-type: none;
}
.left li a {
    text-decoration: none;
    color: black;
    text-align: center;
}
.right button.nav {
    border-radius: 5px;
    margin-right: 15px;
    background-color: black;
    width: 90px;
    height: 25px;
}
button.nav a {
    text-decoration: none;
    color: white;
    
}
.ham-nav {
    display: none;
    padding: 5px;
    border-radius: 4px;
    margin-right: 20px;
}
.ham-list {
    display: none;
    padding: 10px;
    background-color: rgb(195, 199, 199);
}
.ham-list .show {
    display: block;
}

.ham-list li {
    height: 25px;
    padding: 5px;
    text-align: center;
    list-style-type: none;
}
.ham-list li a {
    text-decoration: none;
    color: black;
}
.ham-list li button {
    background-color: black;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.ham-list li button a {
    color: white;
}
li a#ham-page-now {
    color: black;
    font-weight: bold;  
}
.container {
    width: 600px; 
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: rgba(3, 3, 3, .2) -1px -1px 10px ,rgba(3, 3, 3, .2) 10px 10px 10px ;
    padding: 50px;
    box-sizing: border-box;
}
.container h1 {
    text-align: center;
}
form {
    width: 100%;
    margin: auto;
}
input,textarea,
.input-blog-img-group {
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    border: none;
    box-shadow: rgba(3, 3, 3, .2) -1px -1px 10px ,rgba(3, 3, 3, .2) 10px 10px 10px ;
}
.form-group-date {  
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.form-group-date .group-start,.group-end {
    width: 49%;
}
.input-blog-img-group label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.input-blog-img-group p {
    border-radius: 3px;
    color: white;
    background-color: rgb(133, 124, 124);
    padding: 5px;
    margin: 2px 3px; 
}
.form-group {
    margin: 10px 0;
}
textarea {
    height: 150px;
    resize: vertical;
}
form button {
    float: right;
    background-color: black;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
}
h1.title {
    background-color: rgb(236, 243, 250);
    margin-bottom: -20px;
    margin-top: 50px;
    padding: 100px;
    text-align: center;
}
.blog-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color:  rgb(236, 243, 250);
}
.blog-content .card {
    width: 400px;
    margin: 0 0 50px 0; 
    height: 620px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: rgba(3, 3, 3, .2) -1px -1px 10px ,rgba(3, 3, 3, .2) 10px 10px 10px ;
}
.card .title h2 {
    width: 100%;
    height: 10px;
    font-size: 25px;
    font-weight: bold;    
}
.card .time p {
    font-size: 15px;
    height: 5px;
}
.card img {
    height: 400px;
    border-radius: 10px;
    width: 100%;
}
.card .desk {
    overflow: scroll;
    word-wrap: break-word;
    width: 100%;
    height: 95px;
    margin: 5px 0 ;
}
.card .group-button {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.card button {
    width: 49%;
    border-radius: 5px;
    background-color: black;
    height: 25px;
    color: white;
}   
@media screen and (max-width : 768px) {
    .container {
        width: 70%;
        flex-direction: column;
        padding: 50px;
        justify-content: center;
    }
    .icon {
        justify-content: center;
    }
    .contact-cv {
        display: flex;
        align-items: center;
    }
    .contact-cv button{
        margin-right: 20px;
    }
}
@media screen and (max-width : 600px) {
    .container {
        width: 90%;
        flex-direction: column;
        padding: 50px;
        justify-content: center;
    }
    .navbar .left ul {
        display: none;
    }
    .right button {
        display: none;
    }
    .ham-nav {
        display: block;
    }
    .show {
        display: block;
    }
}
